.footer-contenedor{
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
    margin-top: 9%;
    position: sticky;
    top: 100%;
}
.footer-iconos{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-iconos ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-iconos ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 10px; 
    border-radius: 100%;
    background: #1C419E;
}
.footer-iconos ul li a{
    color: #fff;
    font-size: 30px;
}
.footer-iconos ul li a i{
    line-height: 50px;
}
.footer-menu{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-menu ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu ul li{
    display: inline-block;
    margin: 0px 20px;
}
.footer-menu ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.footer-bottom{
    width: 100%;
    height: auto;
    margin: 0px;
}
.footer-bottom p{
    color: #fff;
    text-align: center;
    padding-top: 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background-color: #fff;
}
.logo{
    cursor: pointer;
    width: 100px;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}
.nav-links li a:hover{
    color: #1C419E;
}
.eventos{
    margin-top: 3%;
}
#ti1{
    margin-left: 42.7%;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
#ti2{
    margin-left: 53.5%;
    margin-top: -2.5%;
    font-family: 'Open Sans', sans-serif;
    display: block;
    color: #309e00;
}
h1{
    font-family: 'Train One', cursive;
}
p{
    font-family: 'Roboto Mono', monospace;
   
}
#evento1{
    position: relative;
    display: flex;
    align-items: center;
   margin-left: 16%;
   margin-top: 5%;
    
}

#evento2{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 42%;
    margin-top: -15%;
    
}

#evento3{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 66%;
    margin-top: -14.5%;
}

#txt{
    text-align: center;
    position: absolute;
    transition: all .3s;
    transform: scale(1.5);
    opacity: 0;
    color:black;
  
   
    
}

&::before, &::after{
    content: "";
    position: absolute;
    transition: all .3s;
}
&::before{left: -100%; top: 10px;}
&::after{left: 100%; bottom: 10px;}
#txt:hover{
    
    transform: scale(1);
    opacity: 1;
}
body{
    background-color: #474b4e;
}
#s{
margin-left: 25%;
margin-right: -26%;
}
#s1{
    margin-left: 26%;
    margin-right: -27%;
    font-family: 'Source Sans Pro', sans-serif;
}
#m{
    margin-left: 35%;
    margin-right: -36%;
}
#m1{
    margin-left: 35%;
    margin-right: -36%;
    font-family: 'Source Sans Pro', sans-serif;
}
#p{
    margin-left: 47%;
    margin-right: -48%;
}
#p1{
    margin-left: 47%;
    margin-right: -48%;
    font-family: 'Source Sans Pro', sans-serif;
}
