*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
#container{
    background-image:linear-gradient(rgb(45, 78, 226),rgba(45, 78, 226, 0.712));
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    background-color: #fff;
}
.logo{
    cursor: pointer;
    width: 100px;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: all 0.3s ease 0s;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}
.nav-links li a:hover{
    color: #1C419E;
}
.titulo {
    position: absolute;
    color: #fff;
    top: 45%;
    left: 39%;
    font-size: 580%;
    font-family: 'Amatic SC', cursive;
}
.titulo2{
    position: absolute;
    color: #fff;
    top: 55%;
    left: 45%;
    font-size: 380%;
    font-family: 'Amatic SC', cursive;
}
.btn {
    position: absolute;
    color: #fff;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5vw;
}
#btn1 {
    text-decoration: none;
    border: 1px solid #fff;
    padding: 15px;
    transition: 0.6s ease;
    color: #fff;
}
#btn1:hover {
    background-color: #fff;
    color: black;
}
.descripcion{
    width: 100%;
    height: 100%;
}
.par1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    margin-left: 3%;
    margin-right: 55%;
    text-align: justify;
    margin-top: 12%;
    padding: 1%;
    line-height: 40px; 
   
}
.finca{
    width: 30%;
    margin-top: 1%;
    margin-right: 9%;
}
.par3, .finca{
    float: right;
}
.par3{
    font-family: 'Amatic SC', cursive;
    font-size: 150%;
    margin-left: 1%;
    margin-right: 55%;
    text-align: justify; 
}
.Horarios{
    margin-top: 10%;
}
table{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 130%;
}
.horario{
    font-size: 150%;
    padding-bottom: 5px;
    margin-top: 4%;
}
.horario, .contactanos{
    float: left;
}
.mapa{
    margin-top: 5%;
}
.contactanos{
    font-size: 490%;
    margin-top: 5%;
    margin-left: 20%;
    font-family: 'Amatic SC', cursive;
}
/*----------FOOTER----------*/
.footer-contenedor{
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
    margin-top: 5%;
}
.footer-iconos{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-iconos ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-iconos ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 10px 10px; 
    border-radius: 100%;
    background: #1C419E;
}
.footer-iconos ul li a{
    color: #fff;
    font-size: 30px;
}
.footer-iconos ul li a i{
    line-height: 50px;
}
.footer-menu{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-menu ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer-menu ul li{
    display: inline-block;
    margin: 0px 20px;
}
.footer-menu ul li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.footer-bottom{
    width: 100%;
    height: auto;
    margin: 0px;
}
.footer-bottom p{
    color: #fff;
    text-align: center;
    padding-top: 15px;
}